/* Estilos para el contenedor principal */
.container {
  display: flex;
}

/* Estilos para el contenedor de películas */
.movies-container {
  width: 25%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Estilos para los botones de películas */
.movie-button {
  display: block;
  width: 70%;
  margin: 0 auto 10px;
  padding: 8px;
  background-color: #6c757d; /* Gris para botones de película */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  text-decoration: none;
}

.movie-button.selected {
  background-color: #007bff; /* Azul para botones de película seleccionados */
}

.movie-button:hover {
  background-color: #0056b3;
}

.movie-button:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Estilos para el contenedor de asientos */
.seats-container {
  width: 60%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.seats-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.25rem;
  padding: 10px; /* Ajusta el padding para hacer los botones más grandes */
  font-size: 16px; /* Ajusta el tamaño de la fuente */
  width: 40px; /* Establece un ancho fijo para los botones */
}

.seats-container button:hover {
  background-color: #0056b3;
}

/* Estilos para los botones de los asientos disponibles */
.seats-container button.available {
  background-color: #28a745; /* Verde para los asientos disponibles */
}

/* Estilos para los botones de los asientos ocupados */
.seats-container button.unavailable {
  background-color: #dc3545; /* Rojo para los asientos ocupados */
}

/* Estilos para los botones de los asientos seleccionados */
.seats-container button.selected {
  background-color: #007bff; /* Azul para los asientos seleccionados */
}

/* Estilos para el contenedor del ticket */
.ticket-container {
  width: 25%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ticket-container h2 {
  margin-bottom: 1rem;
}

.ticket-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.ticket-container button:hover {
  background-color: #0056b3;
}