/* Estilos para el contenedor principal */
.container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Utiliza toda la altura de la pantalla */
  overflow: hidden; /* Evita el desbordamiento */
}

/* Estilos para el contenedor de películas */
.movies-container {
  width: 90%; /* Ancho del contenedor ajustado */
  margin: 20px auto;
  padding: 20px;
  background: linear-gradient(to bottom, #f7f7f7, #e7e7e7);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centra el texto */
  overflow: hidden; /* Evita el desbordamiento */
}

/* Estilos para el contenedor de botones de películas */
.movie-buttons-container {
  display: flex; /* Cambia el contenedor a un contenedor flexible */
  flex-wrap: wrap; /* Permite que los botones envuelvan si no caben en una sola línea */
  justify-content: center; /* Centra los botones horizontalmente */
  overflow: auto; /* Permite el desplazamiento horizontal si es necesario */
}

/* Estilos para los botones de películas */
.movie-button {
  min-width: 250px; /* Cambiar width a min-width */
  min-height: 450px; /* Altura mínima del botón */
  margin: 20px; /* Espacio entre los botones */
  padding: 20px; /* Espacio interno */
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column; /* Alinea el contenido en una columna */
  align-items: center; /* Centra horizontalmente el contenido */
}

/* Estilos para el encabezado "Peliculas" */
.movies-header {
  margin-bottom: 20px; /* Agregar espacio inferior */
}

/* Estilos para el póster de la película */
.movie-poster {
  width: 150px; /* Tamaño del póster ajustado */
  height: 200px; /* Tamaño del póster ajustado */
  margin-bottom: 10px; /* Espacio inferior */
}

/* Estilos para los detalles de la película */
.movie-details {
  text-align: center; /* Centra el texto */
}

/* Estilos para los botones de películas */
.movie-button {
  width: auto; /* Ancho automático para adaptarse al contenido */
  min-height: 350px; /* Altura del botón ajustada */
  margin: 20px; /* Espacio entre los botones */
  padding: 10px; /* Espacio interno */
  background-color: #6c757d;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column; /* Alinea el contenido en una columna */
  align-items: center; /* Centra horizontalmente el contenido */
}

/* Estilos para el texto dentro de los botones de películas */
.movie-title {
  text-align: center; /* Centrar el texto */
}

.movie-button.selected {
  background-color: #007bff; /* Azul para botones de película seleccionados */
}

.movie-button:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

/* Estilos para el contenedor de asientos */
.seats-container {
  width: 80%;
  margin: 20px auto; /* Centra horizontalmente y añade espacio en la parte superior e inferior */
  padding: 20px;
  background: linear-gradient(to bottom, #f7f7f7, #e7e7e7);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Alinea los elementos en una columna */
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
}

/* Estilos para el contenedor adicional de los botones de los asientos */
.seats-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Estilos para los botones de los asientos */
.seats-container .seat-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.25rem;
  padding: 10px;
  font-size: 14px; /* Tamaño de fuente */
  width: 40px;
}

.seats-container .seat-btn:hover {
  background-color: #0056b3;
}

/* Estilos para los botones de los asientos disponibles */
.seats-container .seat-btn.available {
  background-color: #28a745;
}

/* Estilos para los botones de los asientos ocupados */
.seats-container .seat-btn.unavailable {
  background-color: #dc3545;
}

/* Estilos para los botones de los asientos seleccionados */
.seats-container .seat-btn.selected {
  background-color: #007bff;
}

/* Estilos para la pantalla del cine */
.screen {
  background-color: black;
  width: 100%; /* Ancho igual al ancho de una columna menos el espacio entre columnas, con un margen adicional */
  height: 20px; /* Altura de la pantalla */
  margin: 20px 0; /* Margen para separarlo del contenido */
  border-radius: 10px; /* Bordes redondeados */
}

/* Estilos para el botón de "Regresar" y "Comprar" */
.return-button, .buy-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s;
  margin: 15px 0 10px 10px
}

.return-button:hover, .buy-button:hover {
  background-color: #0056b3;
}

/* Estilos para el contenedor del ticket */
.ticket-container {
  width: 25%;
  margin: 20px auto; /* Centra horizontalmente */
  padding: 20px;
  background: linear-gradient(to bottom, #f7f7f7, #e7e7e7);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex; /* Establece el contenedor como un contenedor flexible */
  flex-direction: column; /* Alinea los elementos en una columna */
  align-items: center; /* Centra horizontalmente */
  justify-content: center; /* Centra verticalmente */
  text-align: center; /* Centra el texto horizontalmente */
}

.ticket-container h2 {
  margin-bottom: 1rem;
  color: #007bff; /* Azul para el título */
}

.ticket-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin: 5px 0 10px 10px
}

.ticket-container button:hover {
  background-color: #0056b3;
}

/* Estilos para pantallas desde 817px hacia arriba */
@media only screen and (min-width: 817px) {
  /* Modificaciones para los botones de películas */
  .movie-button {
    width: 200px; /* Ancho fijo de 200px */
    min-height: 350px; /* Altura del botón ajustada */
    margin: 20px; /* Espacio entre los botones */
    padding: 10px; /* Espacio interno */
    background-color: #6c757d;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column; /* Alinea el contenido en una columna */
    align-items: center; /* Centra horizontalmente el contenido */
  }

  .movie-poster {
    width: 120px; /* Ajustar el tamaño del póster */
    height: auto; /* Mantener la proporción */
  }
}


/* Estilos para pantallas más pequeñas */
@media only screen and (max-width: 816px) {
  /* Modificaciones adicionales para el contenedor de películas */
  .movies-container {
    width: 90%; /* Utilizar un ancho más grande para pantallas más pequeñas */
    overflow: auto; /* Permite el desplazamiento si es necesario */
  }

  /* Modificaciones adicionales para los botones de películas */
  .movie-button {
    width: 200px; /* Reducir el ancho de los botones */
    min-height: 350px; /* Reducir la altura mínima de los botones */
    font-size: 14px; /* Ajustar el tamaño de fuente */
    padding: 15px; /* Ajustar el padding */
  }

  .movie-poster {
    width: 120px; /* Ajustar el tamaño del póster */
    height: auto; /* Mantener la proporción */
  }

  /* Modificaciones adicionales para el contenedor de asientos */
  .seats-container {
    width: 90%; /* Utiliza un ancho más grande para pantallas más pequeñas */
    justify-content: center; /* Asegura que los elementos se mantengan centrados */
  }

  /* Modificaciones adicionales para los botones de los asientos */
  .seats-container .seat-btn {
    font-size: 12px; /* Reducir el tamaño del texto */
    width: 30px; /* Reducir el ancho de los botones */
    padding: 8px; /* Reducir el padding */
  }

  /* Modificaciones para el contenedor del ticket */
  .ticket-container {
    width: 80%; /* Ancho mayor para pantallas pequeñas */
  }
}

/* Estilos para pantallas aún más pequeñas */
@media only screen and (max-width: 600px) {
  /* Modificaciones adicionales para los botones de películas */
  .movie-button {
    min-width: 150px; /* Reducir el ancho mínimo del botón */
    min-height: 250px; /* Reducir la altura mínima de los botones */
    font-size: 12px; /* Reducir aún más el tamaño de fuente */
    padding: 10px; /* Ajustar el padding */
  }

  .movie-poster {
    width: 100px; /* Ajustar el tamaño del póster */
  }

  /* Modificaciones adicionales para los botones de los asientos */
  .seats-container .seat-btn {
    font-size: 10px; /* Reducir aún más el tamaño del texto */
    width: 25px; /* Reducir el ancho de los botones */
    padding: 6px; /* Ajustar el padding */
  }
}

/* Estilos para pantallas aún más pequeñas */
@media only screen and (max-width: 400px) {
  /* Modificaciones adicionales para los botones de películas */
  .movie-button {
    min-width: 120px; /* Reducir aún más el ancho mínimo del botón */
    min-height: 200px; /* Reducir la altura mínima de los botones */
    font-size: 10px; /* Reducir aún más el tamaño de fuente */
    padding: 8px; /* Ajustar el padding */
  }

  .movie-poster {
    width: 80px; /* Ajustar el tamaño del póster */
  }

  /* Modificaciones adicionales para los botones de los asientos */
  .seats-container .seat-btn {
    font-size: 8px; /* Reducir aún más el tamaño del texto */
    width: 20px; /* Reducir aún más el ancho de los botones */
    padding: 4px; /* Ajustar el padding */
  }

  /* Modificaciones para el contenedor del ticket */
  .ticket-container {
    width: 90%; /* Ancho mayor para pantallas muy pequeñas */
  }
}