/* Estilos para el contenedor principal */
.container {
  display: flex;
}

/* Estilos para el contenedor de películas */
.movies-container {
  width: 25%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

/* Estilos para los botones de películas */
.movie-button {
  display: block;
  width: 70%; /* Ancho del botón */
  margin: 0 auto 10px; /* Centra horizontalmente y agrega separación en la parte inferior */
  padding: 8px; /* Espaciado interno */
  background-color: #007bff; /* Color de fondo predeterminado */
  color: #fff; /* Color del texto */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar el ratón */
  transition: background-color 0.3s, box-shadow 0.3s; /* Transición suave del color de fondo y de la sombra */
  text-decoration: none; /* Elimina el subrayado */
}

/* Efecto de sombra cuando se pasa el mouse sobre el botón */
.movie-button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el ratón */
}

/* Efecto de sombra cuando se selecciona el botón */
.movie-button:active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Sombra más oscura al hacer clic */
}

/* Estilos para el contenedor de asientos */
.seats-container {
  width: 60%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.seats-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.25rem;
  padding: 0.5rem;
}

.seats-container button:hover {
  background-color: #0056b3;
}

/* Estilos para el contenedor del ticket */
.ticket-container {
  width: 25%;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.ticket-container h2 {
  margin-bottom: 1rem;
}

.ticket-container button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

.ticket-container button:hover {
  background-color: #0056b3;
}